<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <link href="./style.css" rel="stylesheet"/>
</head>
<body>
    <h1>Wyniki</h1>
    <table>
        <tr>
            <th>Objetosc</th>
            <td><%= data.objetosc %></td>
        </tr>
        <tr>
            <th>Pole powierzchni bocznej</th>
            <td><%= data.polePowierzchniBocznej %></td>
        </tr>
        <tr>
            <th>Dlugosc krawedzi bocznej</th>
            <td><%= data.dlugoscKrawedzi %></td>
        </tr>
    </table>
</body>
</html>
