<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ciężarówki Star 28 i Star 29</title>
</head>
<body>
    <h1>Ciężarówki Star 28 i Star 29</h1>
    
    <h2>Star 28</h2>
    <img src="/images/star28.jpg" alt="Star 28">
    <p>Moc silnika: <%= trucksData.star28.power %></p>
    <p>Moment obrotowy silnika: <%= trucksData.star28.torque %></p>
    
    <h2>Star 29</h2>
    <img src="/images/star29.jpg" alt="Star 29">
    <p>Moc silnika: <%= trucksData.star29.power %></p>
    <p>Moment obrotowy silnika: <%= trucksData.star29.torque %></p>
</body>
</html>
